<!DOCTYPE html>
<html lang="en-us">
    {% include head.html %}
    <body class="theme-base-08">
        {% include sidebar.html %}
        <div class="content container">
            {{ content }}
            <div class="license">
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                    <img alt="CC BY-SA" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
                </a>
            </div>
        </div>
    </body>
</html>
